p.song {font: 100;font-family: 'Times New Roman', Times, serif;color: black;}
p.speech {font: 100;font-family: 'Times New Roman', Times, serif;color: black;}
p.directions.hover {font: 100;font-family: 'Times New Roman', Times, serif;color: black;background-color: aliceblue;}
p.name:hover {text-shadow: 2cm,black;border: 4cm;}
p:hover {text-shadow: 2cm,olive;border: 4cm;}
#giuseppeta {color: aqua;}
#giuseppeta:hover{text-shadow: 2px 2px 5px red}
#marcoita {color: aquamarine;}
#marcoita:hover {text-shadow: 2px 2px 5px red}
#group {color: blueviolet;}
#group:hover {text-shadow: 2px 2px 5px red}
#fiametta {color: chocolate;}
#fiametta:hover {text-shadow: 2px 2px 5px red}
#vittoria {color: orangered;}
#vittoria:hover {text-shadow: 2px 2px 5px red}
#antoniatte {color: darkred;}
#antoniatte:hover {text-shadow: 2px 2px 5px red}
#singer {border: 1cm;color: blue;text-align: center;padding: 2cm;margin: 2cm;}