p.song {font: 100;font-family: 'Times New Roman', Times, serif;color: black;}
p.speech {font: 100;font-family: 'Times New Roman', Times, serif;color: black;}
p.directions.hover {font: 100;font-family: 'Times New Roman', Times, serif;color: black;background-color: aliceblue;}
#name:hover {font: 100;font-family: 'Times New Roman', Times, serif;color: black;box-shadow: 2cm,olive;border: 4cm;}
#giuseppeta {color: aqua;}
#marcoita {color: aquamarine;}
#group {color: blueviolet;}
#fiametta {color: chocolate;}
#vittoria {color: orangered;}
#antoniatte {color: darkred;}
#singer {border: 1cm;color: blue;text-align: center;padding: 2cm;margin: 2cm;}